* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	gap: 5px;
	margin-top: 2rem;
	/* border: 2px solid red; */
}

input {
	width: 15rem;
	height: 3rem;
	font-size: 1.5rem;
}

button {
	border-radius: 5px;
	height: 2.5rem;
	padding: 0rem 1rem;
	font-size: 1rem;
}

button:hover {
	outline: 2px solid gray;
	cursor: pointer;
}
